<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator Vue JS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div
        class="d-flex flex-column col-xs-1 text-center"
        style="
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <label for="angka1" class="text-center fw-bold">Angka 1</label>
        <input
          class="form-control container-fluid"
          id="angka1"
          style="width: 50%"
          placeholder="Masukkan angka disini..."
          v-model="angka1"
        />

        <label for="angka2" class="text-center fw-bold">Angka 2</label>
        <input
          class="form-control container-fluid"
          id="angka2"
          style="width: 50%"
          placeholder="Masukkan angka disini..."
          v-model="angka2"
        />

        <div>{{hasil}}</div>

        <div class="d-flex justify-content-center my-2">
          <button @click="tambah()" class="btn-primary rounded-3 mx-3">
            Tambah
          </button>
          <button @click="kurang()" class="btn-primary rounded-3 mx-3">
            Kurang
          </button>
          <button @click="kali()" class="btn-primary rounded-3 mx-3">
            Kali
          </button>
          <button @click="bagi()" class="btn-primary rounded-3 mx-3">
            Bagi
          </button>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        data() {
          return {
            angka1: "",
            angka2: "",
            hasil: "",
          };
        },
        methods: {
          tambah() {
            this.hasil = parseFloat(this.angka1) + parseFloat(this.angka2);
            return this.hasil;
          },
          kurang() {
            this.hasil = parseFloat(this.angka1) - parseFloat(this.angka2);
            return this.hasil;
          },
          kali() {
            this.hasil = parseFloat(this.angka1) * parseFloat(this.angka2);
            return this.hasil;
          },
          bagi() {
            if (this.angka2 == 0) {
              this.hasil = "UNDIFINED";
            } else {
              this.hasil = parseFloat(this.angka1) / parseFloat(this.angka2);
            }
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
